server:
  port: 8082

spring:
  application:
    name: transaction-service

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_TRANSACTION_PORT:5433}/fintrack_transactions
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: ${JWT_SECRET:default}
  expiration: ${JWT_EXPIRATION:86400000} # 24 hours in milliseconds

logging:
  level:
    com.fintrack: DEBUG
